@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/loginLay.cshtml";
}

<form class="form-horizontal">
    <span class="heading">用户登录</span>
    <div class="form-group">
        <input type="email" class="form-control" id="username" placeholder="用户名">
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group help">
        <input type="password" class="form-control" id="userpass" placeholder="密　码">
        <i class="fa fa-lock"></i>
        <a href="#" class="fa fa-question-circle"></a>
    </div>
    <div class="form-group">
        <div class="control-group">

            <label class="control-label"></label>

            <div id="msg" class="message" style="margin-bottom:5px;color:#00b4ef;"></div>

        </div>

        <button type="button" class="btn btn-default" id="loginBtn">登录</button>
    </div>
</form>







@section scripts{
    <script>
        $(function () {

            $('#loginBtn').click(function () {
                $('#msg').html('');
                if ($('#username').val().length <= 0) {
                    //$('#username').parent().addClass('has-error');
                    $('#msg').html('提示：用户名不能为空');
                    return false;
                }
                if ($('#userpass').val().length <= 0) {
                    //$('#userpass').parent().addClass('has-error');
                    $('#msg').html('提示：密码不能为空');
                    return false;
                }
                var username = $('#username').val();
                var userpass = $('#userpass').val();
                //$.post('/Login/LoginIndex', { "username": username, "userpass": userpass }, function (data) {
                //    if (data == "ok") {
                //        window.location.href = "../UserInfo/Index";
                //    } else {
                //        $('#msg').html('用户名或密码错误');
                //    }
                //})

                $.ajax({
                    url: '/Login/LoginIndex',
                    type: 'POST',
                    data: { "username": username, "userpass": userpass },
                    datatype: 'json',
                    beforeSend: function () {
                        $('#msg').html('正在登陆...');
                    },
                    success: function (data) {
                        if (data == 'ok') {
                            window.location.href = "../Role/Index";
                        } else {
                            $('#msg').html('用户名或密码错误');
                        }
                    },

                });
            });
        })
    </script>

}
